# Attempted hints to improve GitHub language percentages bar-chart.
# Weirdly, although the bar-chart omits Prolog, elsewhere the GitHub
# UI does correctly recognize *.pl as Prolog code, such as for syntax
# highlighting.

# Let's simply call HTML and TeX 'vendored' to exclude them:
*.html linguist-vendored
*.tex linguist-vendored
